div.fileUpload {
	width: 48px;
	height: 48px;
	background: url(../img/basic/upload2.png);
	overflow: hidden;
	cursor:pointer;
	float:left;
	margin: 2px 11px;
}

div.fileUpload input {
	display: block !important;
	width: 48px !important;
	height: 48px !important;
	opacity: 0 !important;
	overflow: hidden !important;
	cursor:pointer;
}

.image_gallery{
	float: left;
    margin-top: 10px;
    width: 100%;
}

.image_gallery_txt{
	font-size:13px;
	color:#fff;
}
.cstm_draginput{
	background: none repeat scroll 0 0 #3F3F3C;
    border-radius: 3px;
    display: block;
    float: left;
    height: 70px;
    /*margin: 0 5px 5px 0;*/
    position: relative;
    width: 70px;
	margin-top:10px;
	margin-right:10px;
}
.cstm_draginput:hover{
background: none repeat scroll 0 0 #50A0FF;
    box-shadow: 0 0 5px 2px #50A0FF;
    color: #FFFFFF;
    outline: medium none;
}
.cstm_draginput:focus{
background: none repeat scroll 0 0 #50A0FF;
    box-shadow: 0 0 5px 2px #50A0FF;
    color: #FFFFFF;
    outline: medium none;
}

.quick_upload{
	 color: #FFFFFF;
    font-size: 8px;
    padding-top: 5px;
    text-align: center;
}
#img_gal{
	cursor:pointer;
	margin: 2px 11px;
}
.design_idea{
	cursor:pointer;
	margin: 2px 11px;
}
.fl{
	float:left;
	margin-top:10px;
	border-bottom:solid 1px #fff;
}
.help_image{
	float:left;
	width:15%;
}
.help_text{
	float:left;
	width:80%;
}
.simplemodal-wrap{
	overflow:hidden!important;
}
